#
# compare validation plots for calibrated and uncalibrated jets
#

#-------------------------
# input/output files
#-------------------------	


input_root      = SusyJets_withlittlenoise_normalized.root
input_reference = SusyJets.root
#input_root      = SusyJets_singlehottower.root
#input_reference = SusyJets.root
name data       = Noise (fake, small gaussian)
name reference  = SUSY
tree_name       = patjetidanalyzer #HSusyAnalyzer
output          = Validation.ps

#-------------------------
# histograms
#-------------------------
#bins     = 30   50
#hists    = hsusy_multj; hsusy_ht; hsusy_htmet; hsusy_dijet; hsusy_met; hsusy_metmult; hsusy_metx; hsusy_mety; hsusy_metsig; hsusy_nv; hsusy_nv2; hsusy_recoeffpt; hsusy_recoeffeta; hsusy_recoeffphi; hsusy_ptj_0; hsusy_etaj_0; hsusy_phij_0; hsusy_emfj_0; hsusy_hadfj_0; hsusy_n60j_0; hsusy_n90j_0; hsusy_areaj_0; hsusy_ptj_1; hsusy_etaj_1; hsusy_phij_1; hsusy_emfj_1; hsusy_hadfj_1; hsusy_n60j_1; hsusy_n90j_1; hsusy_areaj_1; hsusy_ptj_2; hsusy_etaj_2; hsusy_phij_2; hsusy_emfj_2; hsusy_hadfj_2; hsusy_n60j_2; hsusy_n90j_2; hsusy_areaj_2; hsusy_ptj_3; hsusy_etaj_3; hsusy_phij_3; hsusy_emfj_3; hsusy_hadfj_3; hsusy_n60j_3; hsusy_n90j_3; hsusy_areaj_3; hsusy_metgj; hsusy_met; hsusy_multgj; hsusy_metxgj; hsusy_metygj; hsusy_multgj; hsusy_htgj; hsusy_htmetgj; hsusy_dijetgj; hsusy_ptgj_0; hsusy_etagj_0; hsusy_phigj_0; hsusy_emfgj_0; hsusy_hadfgj_0; hsusy_invisgj_0; hsusy_auxgj_0; hsusy_ptgj_1; hsusy_etagj_1; hsusy_phigj_1; hsusy_emfgj_1; hsusy_hadfgj_1; hsusy_invisgj_1; hsusy_auxgj_1; hsusy_ptgj_2; hsusy_etagj_2; hsusy_phigj_2; hsusy_emfgj_2; hsusy_hadfgj_2; hsusy_invisgj_2; hsusy_auxgj_2; hsusy_ptgj_3; hsusy_etagj_3; hsusy_phigj_3; hsusy_emfgj_3; hsusy_hadfgj_3; hsusy_invisgj_3; hsusy_auxgj_3
#hists =  pat_multj; pat_ht; pat_htmet; pat_ptj_0; pat_etaj_0; pat_phij_0; pat_emfj_0; pat_hadfj_0; pat_n60j_0; pat_n90j_0; pat_areaj_0; pat_ptj_1; pat_etaj_1; pat_phij_1; pat_emfj_1; pat_hadfj_1; pat_n60j_1; pat_n90j_1; pat_areaj_1; pat_ptj_2; pat_etaj_2; pat_phij_2; pat_emfj_2; pat_hadfj_2; pat_n60j_2; pat_n90j_2; pat_areaj_2; pat_ptj_3; pat_etaj_3; pat_phij_3; pat_emfj_3; pat_hadfj_3; pat_n60j_3; pat_n90j_3; pat_areaj_3

hists    = pat_ft_k_j_0; pat_ft_ksubavg_j_0; pat_ft_f_j_0; pat_fto_n99_j_0; pat_fto_n95_j_0; pat_fto_n90_j_0; pat_fto_n60_j_0; pat_fto_n30_j_0; pat_fto_n10_j_0; pat_fto_F10_j_0; pat_fto_Fs10_j_0; pat_fto_Det8_j_0; pat_fto_Det16_j_0; pat_fto_LowFvsHiF_j_0; pat_fto_LowFovHiF_j_0
2D hists = pat_ft_E_j_0; pat_ft_F_j_0;

show title = true
scale = false

#-------------------------
# Kolmogorov-Smirnov Test
#-------------------------
KS treshold = 0.05
KS color    = 0

#-------------------------
# canvas steering
#-------------------------

grid_x = 1                 # set grid
grid_y = 1                 #

#-------------------------
# histogram steering
#-------------------------

color = 2     4            # set fill style
style = 1     1            #
width = 8     5            #

#-------------------------
# legend steering
#-------------------------

leg_x_left   = 0.25        # set line style
leg_x_right  = 0.95        #
leg_y_lower  = 0.75        #
leg_y_upper  = 0.95        #
