## Corelated lnN uncertainties
u_corr = lumi; sig; jes; qcd; ew

lumi = U_Lumi; u_lumi
sig = U_Sig; u_id
jes = u_JES
qcd = u_qcd
ew = u_ew

bkgds = signal_0; qcd_1; ewk_2; fsr_3

signal_0 = signal_0; susy_0
qcd_1 = qcd_1
ewk_2 = ewk_2; ew_2
fsr_3 = fsr_3; dummy_3
